li.RecipeIngredientRow(data-endpoint-root=`${endpoint}`)
    input(type="text" value=ingredient.amount.value data-endpoint=`${endpoint}/amount/value` placeholder='add amount').RecipeIngredientRow-Amount

    .RecipeIngredientRow-Unit(data-endpoint=`${endpoint}/amount/unit`)
        input(type="text" value=ingredient.amount.unitId.label readonly placeholder='add unit')
        input(type="hidden" value=ingredient.itemId._id name="ingredientId")

    .RecipeIngredientRow-Label(data-endpoint=`${endpoint}/itemId`)
        input(type="text" value=ingredient.itemId.label name="ingredientLabel" placeholder="add label")
        input(type="hidden" value=ingredient.itemId._id name="ingredientId")

    input(type="text" value=ingredient.notes data-endpoint=`${endpoint}/notes` readonly placeholder="add notes").RecipeIngredientRow-Notes

    select.RecipeIngredientRow-Type(data-endpoint=`${endpoint}/type`)
        if (ingredient.type === 'recipe')
            option(value="Ingredient") Ingredient
            option(value="Recipe" selected) Recipe
        else 
            option(value="Ingredient" selected) Ingredient
            option(value="Recipe") Recipe

    button.RecipeIngredientRow-Delete -
