li.RecipeIngredientRow
    input(type="text" value=ingredient.amount.value data-endpoint=`${endpoint}/amount.value` readonly placeholder='add amount').RecipeIngredientRow-Amount

    input(type="text" value=ingredient.amount.unit data-endpoint=`${endpoint}/amount.unit` readonly placeholder='add unit').RecipeIngredientRow-Unit

    .RecipeIngredientRow-Label(data-endpoint=`${endpoint}/label`)
        input(type="text" value=ingredient.label name="ingredientLabel" placeholder="add label")
        input(type="hidden" value=ingredient.id name="ingredientId")

    input(type="text" value=ingredient.notes data-endpoint=`${endpoint}/notes` readonly placeholder="add notes").RecipeIngredientRow-Notes

    select.RecipeIngredientRow-Type(data-endpoint=`${endpoint}/type`)
        if (ingredient.type === 'recipe')
            option(value="ingredient") Ingredient
            option(value="recipe" selected) Recipe
        else 
            option(value="ingredient" selected) Ingredient
            option(value="recipe") Recipe
