li.RecipeIngredientRow
    input(type="text" value=ingredient.amount.value data-endpoint=`${endpoint}/amount.value` readonly placeholder='add amount').RecipeIngredientRow-Amount.EditableInputText

    input(type="text" value=ingredient.amount.unit data-endpoint=`${endpoint}/amount.unit` readonly placeholder='add unit').RecipeIngredientRow-Unit.EditableInputText

    input(type="text" value=ingredient.type data-endpoint=`${endpoint}/type` readonly placeholder="add type").RecipeIngredientRow-Type.EditableInputText

    input(type="text" value=ingredient.label data-endpoint=`${endpoint}/label` readonly placeholder="add label").RecipeIngredientRow-Label.EditableInputText

    input(type="text" value=ingredient.notes data-endpoint=`${endpoint}/notes` readonly placeholder="add notes").RecipeIngredientRow-Notes.EditableInputText


