extends _layout.pug
include components/editable-input-text.pug
include components/editable-textarea.pug

block content
    - var apiRoot = `/api/collections/${collection._id}`

    article.Collection(data-collection-id=collection._id)
        h1.CollectionTitle.RecipeTitle
            +editableInputText(collection.label, `${apiRoot}/label`)
        
        .CollectionDescription.RecipeNotes
            +editableTextarea(collection.description, `${apiRoot}/description`)

        h2 Recipes

        ul.CollectionRecipes
            each recipe in collection.recipes
                li(data-id=recipe.item._id)
                    a(href=`/recipes/${recipe.item._id}`)= recipe.item.label

        .CreateForm(data-id=collection._id data-recipe-endpoint="/api/recipes" data-collection-endpoint=`${apiRoot}/recipes/` data-list-selector=".CollectionRecipes")
            input(type="text" name="recipeToAdd" placeholder="recipe name")
            //- input(type="hidden" name="recipeId")
            button Add Recipe

block scripts
    script(src="/js/collection.js")
