extends _layout.pug
include components/editable-input-text.pug
include components/editable-url-input.pug
include components/editable-checkbox.pug
include components/editable-recipe-directions.pug

block content
    - var apiRoot = `/api/recipes/${recipe._id}`

    article.Recipe(data-recipe-id=recipe._id)
        h1.RecipeTitle
            +editableInputText(recipe.label, `${apiRoot}/label`)

        .RecipeStatus
            +editableCheckbox(recipe.core, `${apiRoot}/core`, 'core recipe')
            +editableCheckbox(recipe.active, `${apiRoot}/active`, 'recipe active')

        h2 Time

        .RecipeTimes
            label
                | Prep: 
                +editableInputText(recipe.time.prep, `${apiRoot}/time.prep`, 'add')
            label
                | Cook: 
                +editableInputText(recipe.time.cook, `${apiRoot}/time.cook`, 'add')
            label
                | Rest: 
                +editableInputText(recipe.time.rest, `${apiRoot}/time.rest`, 'add')
            label
                | Total: 
                +editableInputText(recipe.time.total, `${apiRoot}/time.total`, 'add')


        h2 Ingredients

        ul.RecipeIngredients
            if typeof(recipe.ingredients) === 'object'
                each ingredient in recipe.ingredients
                    - var endpoint = `${apiRoot}/ingredient/${ingredient._id}`
                    include shared/editable-ingredient-row.pug

        button.RecipeIngredients-Add Add Ingredient


        h2 Directions

        +editableRecipeDirections(recipe.directions, `${apiRoot}/directions`)


        h2 Notes

        .RecipeNotes.EditableDiv(contenteditable data-endpoint=`${apiRoot}/notes`)= recipe.notes


        if typeof(recipe.yield.amount) !== 'undefined'
            h2 Yield

            .RecipeYield 
                .RecipeYield-Amount.EditableNumber(contenteditable data-endpoint=`${apiRoot}/yield.amount`) #{recipe.yield.amount} 

                .RecipeYield-Label.EditableDiv(contenteditable data-endpoint=`${apiRoot}/yield.label`)= recipe.yield.label


        h2 Tags

        .RecipeTags
            ul.RecipeTagsList(data-endpoint-root=`${apiRoot}/tags/`)
                each tag in recipe.tags
                    li(data-tag-id=tag._id)
                        a(href="/recipes/tagged/" + tag.slug)= tag.label
                        button(data-tag-id=tag._id).RecipeTagDelete
                            span.close

            .RecipeTagsAdd.CreateForm(data-endpoint=`${apiRoot}/tags`)
                input(type="text" name="AddRecipeTag").RecipeTagsAdd-Input
                button(name="AddRecipeTagButton").RecipeTagsAdd-Button Add


        //- if (typeof(recipe.source.url) !== 'undefined' || typeof(recipe.source.name) !== 'undefined' || typeof(recipe.source.author) !== 'undefined')
        h2 Source

        .RecipeSource
            +editableUrlInput(recipe.source.url, `${apiRoot}/source.url`)

        .RecipeSource-Name
            +editableInputText(recipe.source.name, `${apiRoot}/source.name`, 'add source name')

        .RecipeSource-Author
            +editableInputText(recipe.source.author, `${apiRoot}/source.author`, 'add source author')

block scripts
    script(src="/js/recipe.js")
