extends _layout.pug
include components/editable-input-text.pug
include components/editable-url-input.pug
include components/editable-checkbox.pug
include components/editable-recipe-directions.pug

block content
    article.Recipe(data-recipe-id=recipe._id)
        h1.RecipeTitle
            +editableInputText(recipe.label, `/api/recipes/${recipe._id}/label`)

        .RecipeStatus
            +editableCheckbox(recipe.core, `/api/recipes/${recipe._id}/core`, 'core recipe')
            +editableCheckbox(recipe.active, `/api/recipes/${recipe._id}/active`, 'recipe active')

        h2 Ingredients

        ul.RecipeIngredients
            each ingredient in recipe.ingredients
                li
                    span.RecipeIngredient-Measurement #{ingredient.amount.value} #{ingredient.amount.unit}
                    |
                    |
                    span.RecipeIngredient-Name #{ingredient.label}
                    |
                    |
                    span.RecipeIngredient-Notes #{ingredient.notes}


        h2 Directions

        .RecipeDirectionsText #{recipe.dir}

        +editableRecipeDirections(recipe.directions, `/api/recipes/${recipe._id}/ingredients`)

        if typeof(recipe.yield.amount) !== 'undefined'
            h3 Yield

            .RecipeYeild #{recipe.yield.amount} #{recipe.yield.label}


        if (typeof(recipe.source.url) !== 'undefined' || typeof(recipe.source.name) !== 'undefined' || typeof(recipe.source.author) !== 'undefined')
            h3 Source

            if recipe.source.url
                +editableUrlInput(recipe.source.url, `/api/recipes/${recipe._id}/source.url`)

            if recipe.source.name
                .RecipeSource-Name #{recipe.source.name}

            if recipe.source.author
                .RecipeSource-Author #{recipe.source.author}

block scripts
    script(src="/js/recipe.js")
